@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Mail me:</strong> <a href="mailto:manoelann@hotmail.com">manoelann@hotmail.com</a><br />
    <strong>Text me:</strong> <a href="https://t.me/manoel_alvess" target="_blank">Telegram</a><br />
    <strong>Follow me:</strong> <a href="https://linkedin.com/in/manoel-alves" target="_blank">Linkedin</a><br />
    <strong>Other Projects:</strong> <a href="https://github.com/manoel-alves" target="_blank">Github</a>
</address>
